
<style>
  #searchForm {
    background-color: #F7F7F7;
    padding: 1px 10px 25px 10px;
    font-family: BlinkMacSystemFont,-apple-system,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
  }
  #mainTitle {
    color: #383838;
    font-weight: bold;
    font-size: 24px;
  }
  #secondaryTitle {
    color: #383838;
    font-size: 14px;
  }
  #inputContainer {
    padding: 24px 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .customInput {
    border: 1px solid #febb02;
    height: 52px;
    border-radius: 2px;
    padding: 3px;
  }
  #buttonsContainer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
  #searchBtn {
    height: 45px;
    width: 144.52px;
    border-radius: 3px;
    background-color: #0077CC;
    border: none;
    color: white;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: -0.37px;
    line-height: 26px;
  }
  #add {
    height: 45px;
    width: 278px;
    border-radius: 3px;
    background-color: #067812;
    border: none;
    color: white;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: -0.37px;
    line-height: 26px;
  }
  #id_budget {
    border: 1px solid #DBDBDB;
    border-radius: 3px;
    height: 46px;	width: 182px;
  }
  #budgetHint {
    font-size: 15px;
    letter-spacing: -0.28px;
    line-height: 20px;
  }
  #budgetContainer {
    display: flex;
    flex-direction: column;
  }
  .searchItem {
    display: flex;
    justify-content: center;
  }
</style>
<script>

window.onload = function() {
  var container = document.querySelector('#inputContainer');
  var add = document.querySelector('#add');
  var totalSearches = 1;
  add.addEventListener('click', (event) => {
    event.preventDefault();
    var fragment = document.createDocumentFragment();
    var previousSearchItem = document.querySelector('#search_' + totalSearches);
    var prevVal = previousSearchItem.children[2].value;
    if (!prevVal) {
      return;
    }
    var previousDate = new Date(prevVal);
    previousDate.setDate(previousDate.getDate() + 1);
    totalSearches += 1;
    var searchContainers = document.createElement('div');
    searchContainers.id = 'search_' + totalSearches;
    searchContainers.classList.add('searchItem');

    var city = document.createElement('input');
    city.type = 'text';
    city.name = 'city';
    city.placeholder = 'Select a location';
    city.classList.add('customInput');
    fragment.appendChild(city);

    var checkin = document.createElement('input');
    checkin.type = 'date';
    checkin.name = 'checkin';
    checkin.value = previousDate.toISOString().substring(0, 10);
    checkin.classList.add('customInput');
    fragment.appendChild(checkin);

    var checkout = document.createElement('input');
    checkout.type = 'date';
    checkout.name = 'checkout';
    checkout.classList.add('customInput');
    previousDate.setDate(previousDate.getDate() + 1);
    checkout.value = previousDate.toISOString().substring(0, 10);
    fragment.appendChild(checkout);

    var type = document.createElement('input');
    type.type = 'text';
    type.name = 'type';
    type.classList.add('customInput');


    fragment.appendChild(type);
    searchContainers.appendChild(fragment);
    container.appendChild(searchContainers);
  }, false);
};
</script>

<form id="searchForm" action="/multidestination/tripRoad/" method="post">
  {% csrf_token %}
   <p id="mainTitle">Find Deals for Any Season</p>
   <p id="secondaryTitle" >From cozy country homes to funky apartments</p>
   <div id="inputContainer">
      <div id="search_1" class="searchItem">
        <input type="text" class="customInput"  name="city" maxlength="100"  placeholder="Select a location" />
        <input type="date" class="customInput" name="checkin" value="2018-10-09" required  placeholder="Select a start date" />
        <input type="date" class="customInput"  name="checkout" value="2018-10-09" required  placeholder="Select a end date" />
        <input type="text" name="type" maxlength="140" required  class="customInput" />
      </div>

   </div>
   <div id="buttonsContainer">
     <button id="add">+ Add another destination</button>
     <div id="budgetContainer">
       <span id="budgetHint">Budget for entire trip</span>
       <input type="number" name="budget" required id="id_budget"/>
     </div>
     <input id="searchBtn" type="submit" value="Search">

   </div>
</form>
