
{% include "header.html" %}
<style>
  #tripPlanContainer {
    min-height: 100px;
    background-color: #E9F0FA;
    padding: 20px 80px;
    font-family: BlinkMacSystemFont,-apple-system,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
  }
  .mainTitle {
    color: #383838;
    font-weight: bold;
    font-size: 16px;
  }
  .secondaryTitle {
    color: #383838;
    font-size: 14px;
  }
  .destinationContainer {
    width: 210px;
    background-color: #FFFFFF;
    border-radius: 2px;
    text-align: center;
    padding-top: 2px;
  }
  .selected {
    border-bottom: 5px solid #0077CC;
  }

  #destinations {
    display: flex;
    justify-content: space-between;
  }

</style>
<script type="text/javascript"> 
  window.onload = function() {
    const months = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'June', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];
    function formatDate(dateString1, dateString2) {
      var d1 = new Date(dateString1);
      var d2 = new Date(dateString2);
      return months[d1.getMonth()] + ' ' + d1.getDate()  + ' - ' +   months[d2.getMonth()] + ' ' + d2.getDate();
    }
    const firstDest = document.querySelector('#c1');
    firstDest.innerHTML = formatDate("{{checkin_date1}}", "{{checout_date1}}");
    const secondDest = document.querySelector('#c2');
    secondDest.innerHTML = formatDate("{{checkin_date2}}", "{{checout_date2}}");
    const thirdDest = document.querySelector('#c3');
    thirdDest.innerHTML = formatDate("{{checkin_date3}}", "{{checout_date3}}");
  }
</script>
<div id="tripPlanContainer">
  <p class="mainTitle">Your Trip Planner</p>
  <div id="destinations">
      <div id="destination_1" class="destinationContainer selected">
          <p class="mainTitle" >{{c1}}</p>
          <p class="secondaryTitle" id="c1"> {{checkin_date1}} | {{checout_date1}} </p>
      </div> 
      <div id="destination_2" class="destinationContainer">
          <p class="mainTitle">{{c2}}</p>
          <p class="secondaryTitle"  id="c2">{{checkin_date2}} | {{checout_date2}} </p>
      </div> 
      <div id="destination_3" class="destinationContainer">
          <p class="mainTitle">{{c3}}</p>
          <p class="secondaryTitle"  id="c3">{{checkin_date3}} | {{checout_date3}} </p>
      </div> 
  </div>
</div>

<div>
    {{ h1 }}
</div>