
{% include "header.html" %}
<style>
  #tripPlanContainer {
    min-height: 100px;
    background-color: #E9F0FA;
    padding: 20px 80px;
  }
  .mainTitle {
    color: #383838;
    font-weight: bold;
    font-size: 16px;
  }
  .secondaryTitle {
    color: #383838;
    font-size: 14px;
  }
  .destinationContainer {
    width: 210px;
    background-color: #FFFFFF;
    border-radius: 2px;
    text-align: center;
    padding-top: 2px;
  }
  .selected {
    border-bottom: 5px solid #0077CC;
  }

  #destinations {
    display: flex;
    justify-content: space-between;
  }

</style>
<div id="tripPlanContainer">
  <p class="mainTitle">Your Trip Planner</p>
  <div id="destinations">
      <div id="destination_1" class="destinationContainer selected">
          <p class="mainTitle">{{c1}}</p>
          <p class="secondaryTitle"> {{checkin_date1}} | {{checout_date1}} </p>
      </div> 
      <div id="destination_2" class="destinationContainer">
          <p class="mainTitle">{{c2}}</p>
          <p class="secondaryTitle">{{checkin_date2}} | {{checout_date2}} </p>
      </div> 
      <div id="destination_3" class="destinationContainer">
          <p class="mainTitle">{{c3}}</p>
          <p class="secondaryTitle">{{checkin_date3}} | {{checout_date3}} </p>
      </div> 
  </div>
</div>

<div>
    {{ h1 }}
</div>